.form_section{
  height:400px;
  width: 55%;
   border: 2px solid black;
 
 margin-left: 370px;
}

.form_control{
     width: 500px;
     /* height:50px; */
     display: flex;
     flex-direction: column;
     position: relative;
     

}
.form_box{
    height:40px;
    padding: 5px;
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid black;
}

.form_label{
position: absolute;
top:1px;
left:35px;
background-color: white ;
font-size: 15px;
}
.form_textarea{
    height: 100px;
    padding: 5px;
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid black;

}